/* 扫码支付页面样式 */
.scan-to-pay-contain {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #f4f4f4;

	.content {
		flex: 1;
		padding: 120rpx 30rpx 30rpx;
		margin-bottom: 120rpx; /* 为底部按钮留出空间 */

		/* 商家信息样式 */
		.merchant-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 24rpx 30rpx;
			// background-color: #fff;
			border-radius: 16rpx;
			// margin-bottom: 14rpx;

			.merchant-logo {
				width: 120rpx;
				height: 120rpx;
				border-radius: 50%;
				margin-bottom: 14rpx;
				object-fit: contain;
			}

			.merchant-text {
				text-align: center;

				.merchant-name {
					font-size: 36rpx;
					font-weight: 500;
					color: #333;
					margin-bottom: 10rpx;
				}

				.merchant-category {
					font-size: 28rpx;
					color: #999;
				}
			}
		}

		/* 支付信息样式 */
		.payment-info {
			background-color: #fff;
			border-radius: 16rpx;
			padding: 30rpx;
			margin-bottom: 24rpx;

			.payment-amount {
				// margin-bottom: 30rpx;

				.amount-label {
					font-family: MiSans, MiSans;
					font-weight: 400;
					font-size: 28rpx;
					color: #3d3d3d;
					line-height: 96rpx;
					text-align: left;
					font-style: normal;
					text-transform: none;
					margin-bottom: 20rpx;
				}

				.amount-value {
					font-family: MiSans, MiSans;
					font-weight: 400;
					font-size: 48rpx;
					color: #333333;
					line-height: 96rpx;
					text-align: left;
					font-style: normal;
					text-transform: none;
				}

				.amount-input-container {
					display: flex;
					align-items: center;
					height: 96rpx;
					// border-bottom: 1rpx solid #e0e0e0;
					padding-bottom: 10rpx;

					.currency-symbol {
						font-family: MiSans, MiSans;
						font-weight: 400;
						font-size: 48rpx;
						color: #333333;
						margin-right: 30rpx;
					}

					.amount-input {
						flex: 1;
						font-family: MiSans, MiSans;
						font-weight: 400;
						font-size: 48rpx;
						color: #333333;
						border: none;
						outline: none;
						background: transparent;
						height: 96rpx;
					}
				}
			}

			.payment-methods {
				border-top: 1rpx solid #f0f0f0;
				padding-top: 20rpx;

				.method-item {
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 20rpx;

					.method-label {
						font-family: MiSans, MiSans;
						font-weight: 400;
						font-size: 24rpx;
						color: #3d3d3d;
						line-height: 48rpx;
						text-align: left;
						font-style: normal;
						text-transform: none;
					}

					.method-value {
						font-size: 28rpx;
						color: #333;

						&.primary {
							color: #f63d10;
						}
					}
				}
			}
		}

		/* 评分区域样式 */
		.rating-section {
			background-color: #fff;
			border-radius: 16rpx;
			padding: 30rpx;
			margin-bottom: 22rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.rating-label {
				font-size: 28rpx;
				color: #3d3d3d;
			}

			.rating-stars {
				display: flex;

				.star {
					width: 48rpx;
					height: 48rpx;
					font-size: 40rpx;
					color: #ddd;
					margin-left: 20rpx;
					cursor: pointer;
					image{
						width: 100%;
						height: 100%;
					}
					&:first-child {
						margin-left: 0;
					}

					&.selected {
						color: #f63d10;
					}
				}
			}
		}

		/* 备注区域样式 */
		.remark-section {
			background-color: #fff;
			border-radius: 16rpx;
			padding: 30rpx;

			.remark-label {
				font-size: 28rpx;
				color: #333;
				margin-bottom: 20rpx;
			}
			.remark-label_end {
				color: #DDD;
			}

			.remark-input {
				width: 100%;
				height: 200rpx;
				border: none;
				outline: none;
				font-size: 28rpx;
				color: #333;
				resize: none;
			}

			.remark-count {
				text-align: right;
				font-size: 24rpx;
				color: #999;
				margin-top: 10rpx;
			}
		}
	}

	/* 底部按钮样式 */
	.bottom-button {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 30rpx;
		background-color: transparent;
		z-index: 99;

		.confirm-pay-btn {
			width: 100%;
			height: 96rpx;
			background-color: #f63d10;
			border: none;
			border-radius: 48rpx;
			color: #fff;
			font-size: 32rpx;
			font-weight: 500;
			cursor: pointer;
			transition: background-color 0.2s;
			text-align: center;
			line-height: 96rpx;

			&:active {
				background-color: #d43210;
			}
		}
	}
	
	/* 密码显示区域样式 */
	.password-display {
		padding: 30rpx;
		background-color: #fff;
		
		.password-title {
			font-size: 32rpx;
			font-weight: bold;
			color: #333;
			text-align: center;
			padding-bottom: 20rpx;
			border-bottom: 1rpx solid #eee;
		}
		
		.password-dots {
			display: flex;
			justify-content: space-between;
			
			.password-dot {
				flex: 1;
				height: 100rpx;
				border: 2rpx solid #ddd;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				
				/* 除了最后一个，其他都添加右边框 */
				&:not(:last-child) {
					border-right: none;
				}
				
				/* 第一个和最后一个添加圆角 */
				&:first-child {
					border-radius: 8rpx 0 0 8rpx;
				}
				
				&:last-child {
					border-radius: 0 8rpx 8rpx 0;
				}
				
				/* 输入后显示中间有黑色实心小圆圈 */
				&.filled {
					&::after {
						content: '';
						width: 20rpx;
						height: 20rpx;
						background-color: #333;
						border-radius: 50%;
					}
				}
			}
		}
	}
}

/* 补充全局样式重置 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
}
