

.payment-contain {
	.status-bar-nav {
		// 适配状态栏，添加顶部padding
		padding-top: var(--status-bar-height, 44rpx);
		width: 100%;
		box-sizing: border-box;
		// 设置为绝对定位，叠加在轮播图上
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
	}
	.top_bg {
		width: 100%;
		height: 405rpx;
		image {
			width: 100%;
			height: 100%;
		}
	}

	.pay-info {
		width: 700rpx;
		height: 462rpx;
		margin: 0 auto;
		background: url('/static/img/pay_info_bg.png') no-repeat center;
        background-size: 100% 100%;
		position: relative;
		z-index: 999;
		top: -114rpx;
		padding-top: 66rpx;
		box-sizing: border-box;
		.price {
			font-family: MiSans, MiSans;
			font-weight: 600;
			font-size: 32rpx;
			color: #3d3d3d;
			line-height: 40rpx;
			text-align: center;
			font-style: normal;
			margin-bottom: 26rpx;
		}
		.order_id {
			font-family: MiSans, MiSans;
			font-weight: 400;
			font-size: 28rpx;
			color: #999999;
			line-height: 38rpx;
			text-align: center;
			font-style: normal;
			text-transform: none;
			margin: 0 auto 40rpx;
		}
		.dashed {
			width: 646rpx;
			height: 0rpx;
			margin: 0 auto;
			border: 2rpx dashed #d8d8d8;
		}
		.order_tips {
			margin: 40rpx auto 24rpx;
			font-family: MiSans, MiSans;
			font-weight: 400;
			font-size: 32rpx;
			color: #3d3d3d;
			line-height: 40rpx;
			text-align: center;
			font-style: normal;
			text-transform: none;
		}
		.order_waring {
			font-family: MiSans, MiSans;
			font-weight: 400;
			font-size: 24rpx;
			color: #3d3d3d;
			line-height: 40rpx;
			text-align: center;
			font-style: normal;
			text-transform: none;
		}
		.order_time {
			font-family: MiSans, MiSans;
			font-weight: 400;
			font-size: 24rpx;
			color: #3d3d3d;
			line-height: 40rpx;
			text-align: center;
			font-style: normal;
			text-transform: none;
			.time {
				color: #f63d10;
			}
		}
	}
	.divider-box {
		position: relative;
		top: -114rpx;
		padding: 0 28rpx 0 30rpx;
		box-sizing: border-box;
		margin: 40rpx auto 24rpx;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.divider {
			width: 270rpx;
			height: 0rpx;
			border: 1rpx solid #d8d8d8;
		}
		.text {
			font-family: MiSans, MiSans;
			font-weight: 400;
			font-size: 28rpx;
			color: #999999;
			line-height: 40rpx;
			text-align: left;
			font-style: normal;
			text-transform: none;
			margin: 0 20rpx;
		}
	}
	.pay-method {
		width: 700rpx;
		height: 242rpx;
		background: #ffffff;
		border-radius: 20rpx 20rpx 20rpx 20rpx;
		margin: 0 auto;
		padding: 48rpx 0 40rpx;
		box-sizing: border-box;
		position: relative;
		top: -114rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		.pay-method-item-icon {
			image {
				width: 96rpx;
				height: 96rpx;
			}
			margin-bottom: 18rpx;
		}
		.pay-method-item-text {
			font-family: MiSans, MiSans;
			font-weight: 400;
			font-size: 28rpx;
			color: #3d3d3d;
			line-height: 40rpx;
			text-align: left;
			font-style: normal;
			text-transform: none;
		}
		.select {
			position: absolute;
			right: 40rpx;
			top: 50%;
			margin-top: -19rpx;
			width: 38rpx;
			height: 38rpx;
			background-color: #f63d10;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		
	}
    .pay-btn {
			position: fixed;
			bottom: 58rpx;
            left: 50%;
            margin-left: -350rpx;
			width: 700rpx;
			height: 90rpx;
			background: #f63d10;
			border-radius: 180rpx 180rpx 180rpx 180rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: MiSans, MiSans;
			font-weight: 400;
			font-size: 32rpx;
			color: #ffffff;
			line-height: 96rpx;
			text-align: center;
			font-style: normal;
			text-transform: none;
            
            // 禁用状态样式
            &.disabled {
                background: #cccccc;
                color: #999999;
                pointer-events: none;
            }
		}
}



